<!--
Title: inteliCard interface
Used In File(s): \code\game\objects\items\devices\aicard.dm
 -->

 <style type="text/css">
    table.borders   {
        width:95%;
        margin-left:2.4%;
        margin-right:2.4%;
    }

    table.borders, table.borders tr {
        border: 1px solid White;
    }

    td.law_index {
        width: 50px;
    }

    td.state {
        width: 63px;
		text-align:center;
    }

    td.add {
        width: 36px;
    }

    td.edit {
        width: 36px;
		text-align:center;
    }

    td.delete {
        width: 53px;
		text-align:center;
    }

    td.law_type {
        width: 65px;
    }

    td.position {
        width: 37px;
    }
</style>

{{if data.has_ai}}
    <div class="item">
        <div class="itemLabel">
            Hardware Integrity:
        </div>
        <div class="itemContent">
            {{:data.hardware_integrity}}%
        </div>
        <div class="itemLabel">
            Backup Capacitor:
        </div>
        <div class="itemContent">
            {{:data.backup_capacitor}}%
        </div>
    </div>

    {{if data.has_laws}}
		<table class='borders'>
		<tr><td class='law_index'>Index</td><td>Law</td></tr>

		<div class="itemLabelNarrow">
			Laws:
		</div>
		{{for data.laws}}
			<tr><td valign="top">{{:value.index}}.</td><td>{{:value.law}}</td></tr>
		{{/for}}
		</table>
    {{else}}
        [SPAN_NOTICE("No laws found.")]
	{{/if}}

    {{if data.operational}}
        <table>
            <tr>
                <td>[SPAN_ITEMLABELWIDEST("Radio Subspace Transceiver")]</td>
                <td>{{:helper.link("Enabled", null, {'radio' : 0}, data.radio ? 'selected' : null)}}</td>
                <td>{{:helper.link("Disabled", null, {'radio' : 1}, data.radio ? null : 'redButton' )}}</td>
            </tr>
            <tr><td>[SPAN_ITEMLABELWIDEST("Wireless Interface")]</td>
                <td>{{:helper.link("Enabled", null, {'wireless' : 0}, data.wireless ? 'selected' : null)}}</td>
                <td>{{:helper.link("Disabled", null, {'wireless' : 1}, data.wireless ? null : 'redButton' )}}</td>
            </tr>
            {{if data.flushing}}
                <tr><td>[SPAN_NOTICE("AI wipe in progress...")]</td></tr>
            {{else}}
                <tr>
                    <td>[SPAN_ITEMLABELWIDEST("Wipe AI")]</td>
                    <td>{{:helper.link("Wipe", 'radiation', {'wipe' : 1}, null, 'redButton')}}</td>
                </tr>
            {{/if}}
        </table>
    {{/if}}
{{else}}
    Stored AI: [SPAN_NOTICE("No AI detected.")]
{{/if}}
