<div class="item">
    {{:helper.link('Overall info', 'note', {'state' :'status'}, null, data.state == 'status' ? 'selected' : null)}}
    {{:helper.link('Details', 'note', {'state' : 'engines'}, null, data.state == 'engines' ? 'selected' : null)}}
</div>
<div class="item">
	<div class='item'>
		<div class="itemLabel">
			[SPAN_AVERAGE("Global controls:")]
		</div>
		<div class="itemContent">
			{{:helper.link(data.global_state ? 'Shut all down' : 'Power all up', 'power', {'global_toggle' : 1}, null, data.global_state ? 'selected' : null)}}
		</div>
	</div>
	<div class='item'>
		<div class="itemLabel">
			[SPAN_AVERAGE("Thrust limit:")]
		</div>
		<div class="itemContent">
			{{:helper.link('', 'circle-plus', { 'global_limit' : 0.1}, null, null)}}
			{{:helper.link(data.global_limit+'%', null, { 'set_global_limit' : 1 }, null, null)}}
			{{:helper.link('', 'circle-minus', { 'global_limit' : -0.1}, null, null)}}
		</div>
	</div>
	<div class='item'>
		<div class="itemLabel">
			[SPAN_AVERAGE("Total thrust:")]
		</div>
		<div class="itemContent">
			[SPAN_WHITE("{{:data.total_thrust}}")]
		</div>
	</div>
</div>
{{if data.state == "engines"}}
	{{if data.engines_info}}
		{{for data.engines_info}}
			<div class='item'>
				<div class="itemLabel">
					[SPAN_WHITE("Engine #{{:(index + 1)}}:")]
				</div>
				<div class="itemContent">
						{{:helper.link(value.eng_on ? 'Shutdown' : 'Power up', 'power', { 'toggle' : 1, 'engine' : value.eng_reference }, null, value.eng_on ? value.eng_on == 1 ? 'linkOn' : 'yellowButton' : null)}}
				</div>
			<div class='statusDisplay'>
			  <div class='item'>
				<div class="itemLabel">
					[SPAN_AVERAGE("Type:")]
				</div>
				<div class="itemContent">
					[SPAN_WHITE("{{:value.eng_type}}")]
				</div>
			  </div>
			  <div class='item'>
				<div class="itemLabel">
					[SPAN_AVERAGE("Status:")]
				</div>
				<div class="itemContent">
					<span class='{{:value.eng_on ? value.eng_on == 1 ? 'good' : 'average' : 'bad'}}'>{{:value.eng_on ?  value.eng_on == 1 ? 'Online' : 'Booting' : 'Offline'}}</span><br>
					[SPAN_WHITE("{{:value.eng_status}}")]
				</div>
			  </div>
			  <div class='item'>
				<div class="itemLabel">
					[SPAN_AVERAGE("Current thrust:")]
				</div>
				<div class="itemContent">
					[SPAN_WHITE("{{:value.eng_thrust}}")]
				</div>
			  </div>
			  <div class='item'>
				<div class="itemLabel">
					[SPAN_AVERAGE("Thrust limit:")]
				</div>
				<div class="itemContent">
					{{:helper.link('', 'circle-plus', { 'limit' : 0.1, 'engine' : value.eng_reference }, null, null)}}
					{{:helper.link(value.eng_thrust_limiter+'%', null, { 'set_limit' : 1, 'engine' : value.eng_reference }, null, null)}}
					{{:helper.link('', 'circle-minus', { 'limit' : -0.1, 'engine' : value.eng_reference }, null, null)}}
				</div>
			  </div>
		  </div>
		{{/for}}
	{{/if}}
{{/if}}
{{if data.state == "status"}}
	{{if data.engines_info}}
		{{for data.engines_info}}
			<div class='block'>
				<div class='item'>
					<div class="itemLabel">
						[SPAN_WHITE("Engine #{{:(index + 1)}}:")]
					</div>
					<div class="itemContent">
						{{:helper.link(value.eng_on ? 'Shutdown' : 'Power up', 'power', { 'toggle' : 1, 'engine' : value.eng_reference }, null, value.eng_on ? value.eng_on == 1 ? 'linkOn' : 'yellowButton' : null)}}
					</div>
				</div>
				<div class='item'>
					<div class="itemLabel">
						[SPAN_AVERAGE("Thrust:")]
						<br>
						[SPAN_AVERAGE("Thrust limit:")]
					</div>
					<div class="itemContent">
						[SPAN_WHITE("{{:value.eng_thrust}}")]
						<br>
						[SPAN_WHITE("{{:value.eng_thrust_limiter}}%")]
					</div>
				</div>
			</div>
		{{/for}}
	{{/if}}
{{/if}}
