<h3>Navigation</h3>
{{if data.viewing_silicon}}
	<div class="block">
		<div class="item">
			<div class="itemContent bad">
				Remote AI systems detected. Firewall protections forbid remote AI control.
			</div>
		</div>
	</div>
{{/if}}

<div class='block'>
	<div class='item'>
		<div class="itemContent">
			<div class='item'>
				[SPAN_WHITE("Map view")]
				{{:helper.link(data.viewing ? 'Engaged' : 'Disengaged', 'shuffle', { 'viewing' : 1 }, null, data.viewing ? 'selected' : null)}}
			</div>
		</div>
	</div>
</div>
<div style="float:left;width:50%">
	<h3>Sector information</h3>
	<div class='block'>
		{{:data.sector}}
		<br>
		[SPAN_AVERAGE("Coordinates:")] {{:data.s_x}} : {{:data.s_y}}
		<br>
		[SPAN_AVERAGE("Additional information:")] {{:data.sector_info}}
	</div>
</div>

<div style="float:right;width:50%">
	<h3>Flight data</h3>
	<div class='block'>
		<div class='item'>
			<div class="itemLabel">
				[SPAN_AVERAGE("ETA to next grid:")]
			</div>
			<div style="float:right">
				{{:data.ETAnext}}
			</div>
		</div>
		<div class='item'>
			<div class="itemLabel">
				[SPAN_AVERAGE("Speed:")]
			</div>
			<div style="float:right">
				{{:data.speed}} Gm/h
			</div>
		</div>
		<div class='item'>
			<div class="itemLabel">
				[SPAN_AVERAGE("Acceleration:")]
			</div>
			<div style="float:right">
				{{:data.accel}} Gm/h
			</div>
		</div>
		<div class='item'>
			<div class="itemLabel">
				[SPAN_AVERAGE("Heading:")]
			</div>
			<div style="float:right">
				{{:data.heading}}&deg;
			</div>
		</div>
	</div>
</div>
